<div class="footer py-5 text-white">
    <div class="container py-3">
        <div class="row">
            <div class="col-md-4 text-center ">
                <h5>LOCATION</h5>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="col-md-4 text-center icon1">
                <h5>AROUND THE WEB</h5>
                <div class="icon">
                    <i class="fa-brands fa-facebook mx-1" style="color: #ffffff;"></i>
                    <i class="fa-brands fa-twitter mx-1" style="color: #ffffff;"></i>
                    <i class="fa-brands fa-linkedin mx-1" style="color: #ffffff;"></i>
                    <i class="fa-solid fa-globe mx-1" style="color: #ffffff;"></i>
                </div>
            </div>
            <div class="col-md-4 text-center free">
                <h5>ABOUT FREELANCER</h5>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route.</p>
            </div>
        </div>
    </div>
</div>

<div class="copynight text-center py-1 text-white">
    <p class="pt-2">Copyright © Your Website 2021</p>
</div>