<section id="contact" class="container my-5 py-5">
  <h2 class="text-center text-dark fw-bold">CONTACT SECTION</h2>
  <div class="d-flex align-items-center justify-content-center mb-3">
    <div class="line me-3 bg-dark"></div>
    <i class="fa-solid fa-star"></i>
    <div class="line ms-3 bg-dark"></div>
  </div>
  <div >
    <form>
        <div class="form-group pt-5">
            <input type="text" class="form-control"  placeholder="userName" >
        </div>
        <div class="form-group pt-5">
            <input type="age" class="form-control" placeholder="userAge" >
        </div>
        <div class="form-group pt-5">
            <input type="email" class="form-control" placeholder="userEmail" >
        </div>
        <div class="form-group pt-5">
            <input type="password" class="form-control"  placeholder="userPassword" >
        </div>
        
        <button type="submit" class="btn mt-4 text-white " style="background-color: #1abc92;">Send Message</button>
    </form>
</div>
</section>

